[Desktop Entry]
Name=Pomodoro
Comment=Flutter Pomodoro timer on flutter-ut-embedder
Icon=icon.png
Exec=run.sh
Terminal=false
Type=Application
X-Ubuntu-Touch=true
